.InputTxt{
  position: relative;
  padding:5px 10px 10px;
  border: 1px solid #777;
  input{
      display:block;
      width:100%;
      appearance: none;
      background-color: transparent;
      border: none;
      line-height: 24px;
      font-size: 22px;
  }
 
}